<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="../CSS/styles.css">
	<meta name="keywords"
		content="foro vida, comunida discapacitados, discapacitados, conocer discapacitados, reuniones discapacitados">
	<meta name="description"
		content="comparte, interactua y conoce a cientos de personas con nuestro foro de vida. postea acividades, reuniones y muchisimo mas aqui. vive con Vida!">
	<title>Vida-Foro</title>
</head>

<body class="foro-bg">
	<section>
		<nav class="navbar navbar-expand-sm navbar-light bg-light" style="background-color: #ffffff00;">
			<div class="container">
				<a class="navbar-brand" href="../index.html">
					<img src="../imagenes/vida logo.png" width="100px" alt="">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" href="../views/foro.html">Foro</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../views/trabajos.html">Oportunidades</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../views/experiencias.html">Experiencias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../views/contactos.html">Contactanos</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>

		<section class="form">
			<h4 class="form__titulo">REGISTRATE</h4>
			<input class="form__controls" type="text" name="nombre" id="nombres" placeholder="Ingresa tu nombre">
			<input class="form__controls" type="text" name="apellido" id="apellido" placeholder="Ingresa tu apellido">
			<input class="form__controls" type="text" name="correo" id="correo" placeholder="Ingresa tu correo">
			<input class="form__controls" type="text" name="contraseña" id="contraseña"
				placeholder="Ingresa tu contraseña">
			<p class="form__texto">Desea recibir notificaciones <input type="checkbox"></p>
			<input class="form__button form__button--hover" type="submit" value="Registrarse">

		</section>
	</section>







	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>

</html>