<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../index.html">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/styles.css">
	<meta name="keywords"
		content="trabajos para discapacitados, oportunidades laborales para discapacitados, trabajos remotos, trabaja desde casa, ofertas de trabajo a dsitancia">
	<meta name="description"
		content="Trabajos y oportunidades laborales para personas con algun tipo de discapacidad, remotas y presenciales. vive con Vida!">
	<title>vida-Trabajos</title>
</head>

<body class="oportunidades-bg">
	<nav class="navbar navbar-expand-sm navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" href="../index.html">
				<img src="../imagenes/vida logo.png" width="100px" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="../views/foro.html">Foro</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../views/trabajos.html">Oportunidades</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../views/experiencias.html">Experiencias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="../views/contactos.html">Contactanos</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>



	<br> <br> <br> <br>

	<div class="contenedor-trabajos">
		<div class="item nav-trabajos">menu y filtros para buscar el trabajo</div>

		<div class="item oferta-laboral">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laborum ad,
			quia est officia laudantium quisquam, dolorum molestiae excepturi maiores similique consequatur. Ratione
			voluptatibus sequi illo, est illum libero quo!</div>

		<div class="item oferta-laboral1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur voluptatum,
			magni numquam et in minus eaque quia debitis esse id, voluptas consectetur laudantium inventore repellendus
			distinctio commodi atque odio ipsum.</div>

		<div class="item oferta-laboral2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vitae culpa
			adipisci illo error esse. Ipsum dignissimos reprehenderit quas, autem repellendus neque placeat illo soluta
			impedit tenetur labore voluptates dolorum.</div>

	</div><br>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
		integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>


</body>

</html>